body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
}

.container {
  max-width: 420px;
  margin: auto;
}

.header {
  text-align: center;
  color: #125c38;
  margin-bottom: 20px;
  font-weight: 600;
}

.box {
  background: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  transition: border 0.3s;
}

.box.selected {
  border: 2px solid #0f8a4b;
  background: #e8f8ee;
}

.box-row {
  display: flex;
  align-items: center;
}

.bundle-radio {
  margin-right: 12px;
}

.box-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price {
  margin: 4px 0;
}

.tag {
  padding: 4px 10px;
  width: 25px;
  font-weight: bold;
}

.most-popular {
  color: #0f8a4b;
  font-weight: bold;
}

.options {
  margin-top: 12px;
  padding: 10px;
}

.options {
  display: none;
}

.box.selected .options {
  display: block;
}
.option-header {
  display: grid;
  grid-template-columns: 65px 1fr 2fr;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: #555;
}
.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.old-price {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}

.option-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-row span {
  font-size: 12px;
  border-radius: 4px;
}

.option-select {
  width: 30%;
  padding: 6px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.summary {
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
  margin-bottom: 15px;
  font-size: 15px;
}

.free {
  color: #0f8a4b;
}

.cart-btn {
  width: 100%;
  background: #0f8a4b;
  color: white;
  border: none;
  padding: 14px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-btn:hover {
  background: #0d6f3b;
}
.footer {
  text-align: right;
  font-size: 14px;
  color: #555;
  margin-top: 25px;
  font-weight: 500;
  margin-top: 9px;
  font-style: italic;
}
